 <%- include('../inc/top') %>
<div class="container">
    <div class="page-wrapper p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
          <div class="card card-5">
          <div class="card-heading">
              <h2 class="title"> ADD Product</h2>
          </div>
          <div class="" style="width: 470px;">
<form accept="" method="post" enctype="multipart/form-data">
  <div class="container">
    <div style="float: left;">
        <div>
            <img src="/S_Shop_Server/public/images/1.png" id="selectedImage"
            width="300px"height="300px" style="margin-top: 0px;"/> 
            <div style="width: 200px;height: 30px;">
                <input type="file" width="auto"id="inputFile" onchange="displayImage()"
                style="margin-left: 80px;margin-top: 6px;" name="image" />
            </div>
        </div>
    </div>
    <div style="margin-left: 310px;">
        <div>
            <input type="text" placeholder="Ten san pham" class="input" name="name" required />
            <input type="number" placeholder="500$" class="inputgia" name="price" required />
        </div>
       
        <div>
            <select style="width: 150px;" id="color" name="color">
                <option value="">Loai san pham</option>
                <% listLoai.forEach(data=> { %>
                  <option value="<%= data.id %>"><%= data.name %></option>
                <% } ) %>
              </select>


          
        </div>
        <textarea id="myTextarea" class="myTextarea" onchange="trimTextarea()" name="description">
            Để bỏ viền thẻ input trong HTML 
        </textarea>
        <input type="text" name="trademark" placeholder="thuong hieu" />
        <div style="text-align: center;margin-top: 20px;">
            <button  type="submit" >Add san pham</button>
        </div>
    </div>

</div>
</form>

             


</div>
</div>
    
</div>
</div>
<script>
    function displayImage() {
  var input = document.getElementById("inputFile");
  var image = document.getElementById("selectedImage");
  
  var file = input.files[0];
  var reader = new FileReader();
  
  reader.onload = function(e) {
    image.src = e.target.result;
  };
  
  reader.readAsDataURL(file);
}
document.addEventListener("DOMContentLoaded", function () {
    const sizeForm = document.getElementById("productForm");
    const sizeList = document.getElementById("sizeList");
    const sizeInput = document.getElementById("size");
    const quantityInput = document.getElementById("quantity");
    const addSizeButton = document.getElementById("addSize");

    const sizes = [];

    addSizeButton.addEventListener("click", function (event) {
        event.preventDefault();
        const size = sizeInput.value;
        const quantity = quantityInput.value;

        if (size && quantity) {
            sizes.push({ size, quantity });
            sizeList.innerHTML = "";
            sizes.forEach((size, index) => {
                sizeList.innerHTML += `<li>${size.size}: ${size.quantity}</li>`;
            });

            sizeInput.value = "";
            quantityInput.value = "";
        }
    });

});
</script>

<style>
    .container{
        width: 800px;
        height: 400px;
        margin: auto;
        margin-top: 40px;
    }
    .input{
        width: 200px;
        height: 30px;
        border-width: 1px;
        border-radius: 10px;
        border-color: blue;
        border: none;
        outline: none;
        font-size: 18px;

    }
    .inputgia{
        width: 70px;
        height: 30px;
        padding-left: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: red;
    }
    .inputsoluong{
        width: auto;
        height: 30px;
        padding-left: 40px;
        border: none;
        outline: none;
        border-radius: 10px;
        color: red;
    }
    .myTextarea{
        width: 400px;
        height: 130px;
        padding-left: 10px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .size{
        background-color: beige;
        border-radius: 3px;
        width: 30px;
        height: auto;
        float: left;
        text-align: center;
        color: black;
    }
</style>
<style>
    .checkbox-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      float: left;
    }
  
    .checkbox-container input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .checkbox-container input[type="checkbox"]:checked {
      background-color: #2196F3;
      border-color: #2196F3;
    }
  
    .checkbox-container label {
      font-size: 16px;
      margin-right: 15px;
    }
    .checkbox-container1 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .checkbox-container1 input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    .checkbox-container1 input[type="checkbox"]:checked {
      background-color: #2196F3;
      border-color: #2196F3;
    }
  
    .checkbox-container1 label {
      font-size: 16px;
    }
 
  </style>
<%- include('../inc/bottom') %> 

<!-- <!DOCTYPE html>
<html>
<head>
  <title>Post Product</title>
</head>
<body>
  <h1>Post Product</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name" required><br>

    <select style="width: 150px;" id="color" name="color">
      <option value="">Loai san pham</option>
      <% listLoai.forEach(data=> { %>
        <option value="<%= data.id %>"><%= data.name %></option>
      <% } ) %>
    </select>
    <br>
    <label for="trademark">Trademark:</label>
    <input type="text" name="trademark" required><br>

    <label for="price">Price:</label>
    <input type="number" name="price" required><br>

    <label for="sizes">Sizes:</label>
    <input type="number" name="sizes[0][size]" placeholder="Size" required>
    <input type="number" name="sizes[0][quantity]" placeholder="Quantity" required><br>
    <input type="number" name="sizes[1][size]" placeholder="Size" required>
    <input type="number" name="sizes[1][quantity]" placeholder="Quantity" required><br>
  <!-- Add more size inputs as needed -->

    <label for="description">Description:</label>
    <textarea name="description"></textarea><br>

    <label for="note">Note:</label>
    <textarea name="note"></textarea><br>

    <div>
      <img src="/S_Shop_Server/public/images/1.png" id="selectedImage"
      width="300px"height="300px" style="margin-top: 0px;"/> 
      <div style="width: 200px;height: 30px;">
          <input type="file" width="auto"id="inputFile" onchange="displayImage()"
          style="margin-left: 80px;margin-top: 6px;" />
      </div>

    <button type="submit">Submit</button>
  </form>
  <script>
        function displayImage() {
  var input = document.getElementById("inputFile");
  var image = document.getElementById("selectedImage");
  
  var file = input.files[0];
  var reader = new FileReader();
  
  reader.onload = function(e) {
    image.src = e.target.result;
  };
  
  reader.readAsDataURL(file);
}
  </script>
</body>
</html> -->
