<%- include('../inc/top') %>
<div class="container" style="min-height: 700px;" >

  <div style="text-align: center;margin-top: 20px;">
    <h1>Danh sách các loại sản phẩm</h1>
   </div>
   <div class="d-grid gap-2 d-md-flex justify-content-md-end">
     
     <a href="/product/addCategory" class="m-1 btn btn-danger me-md-2 ">Thêm Thể Loại</a>
   </div>
    <div class="mt-5">
      <table id="myTable" class="table table-responsive-xl">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên Thể Loại </th>
            <th scope="col">Tổng số lượng </th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            <% listLoai.forEach(function(item) { %>
                <tr>
                    <td><%= item._id %></td>
                    <td><%= item.name %></td>
                    <td>
                      
                      <% if (posts.length > 0) { %>
                        <% let totalQuantity = 0; %>
                        <% let tong = 0 %>
                        <% posts.reverse().forEach((data) => { %>
                              
                            <!-- Khởi tạo biến totalQuantity -->
                            <% if ( item._id.toLocaleString()  === data.id_cat._id.toLocaleString()) { %>
                              <% data.sizes.forEach(function(size) { %>
                                <% totalQuantity += size.quantity; %>
                            <% }); %> 
                              
                                <!-- Tính tổng số lượng -->
                            <% }  else { %> 
                              
                              <% } %>
                            <!-- Hiển thị tổng số lượng -->
                        <% }); %>
                        <%= totalQuantity %>
                    <% } else { %>
                        <p style="font-size: 18px">Không tìm thấy sản phẩm phù hợp.</p>
                    <% } %>
                    
                    </td>
                    <td>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
           
                       <a href="/product/updateCategory/<%= item._id  %>" > <img src="/images/ud.png" width="30" height="30" class="rounded-circle " alt=""></a>
                      </div>
                    </td>
                    <td>
                                          
                    </td>   
                </tr>
            <% }); %>

            
        </tbody>
      </table>
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include('../inc/bottom') %>
