<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        <% productList.forEach(product => { %>
            <li>Số lượng kho: <%= product.totalSizeQuantity %> 
            - Số lượng bán: <%= product.totalQuantity %>
            - Name: <%= product.productName %>
            - Price: <%= product.price %>
            - Giá nhập: <%= product.gianhap %>
            - Tiền bán được: <%= product.price * product.totalQuantity %>
            - Tiền nhập hàng: <%= product.totalSizeQuantity * product.gianhap %>
            - Doanh thu: <%= (product.price * product.totalQuantity) - (product.totalSizeQuantity * product.gianhap) %>
             </li>
        <% }); %>
    </ul>
</body>
</html>
