<%- include('../inc/top') %>
<div style="min-height: 700px; width: 1400px; margin: auto">
  <div class="row justify-content-center" style="margin-top: 10px">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section"><b>Thống kê doanh thu Top 10 sản phẩm bán chạy</b></h2>
    </div>
  </div>
  <div style="margin-bottom: 20px">
    <form action="/bill/seachBill" method="GET" role="search">
      <div class="input-group rounded">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          name="name_product"
          aria-describedby="search-addon"
        />
        <button
          type="submit"
          style="
            display: inline-block;
            line-height: 30px;
            padding: 0 50px;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
            cursor: pointer;
            font-size: 15px;
            border-radius: 6px;
            margin-left: 5px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            background-color: blue;
            font-family: inherit;
          "
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>

  <div class="centered-div">
    <div>
      <div
        style="
          width: auto;
          background-color: rgb(207, 210, 210);
          float: left;
          margin-right: 10px;
          padding: 10px;
        "
      >
        <img
          src="/images/financial-statement.png"
          style="width: 50px; margin-top: 20px; float: left"
        />
        <div style="float: left; height: 50px; position: relative; top: 22px">
          <p style="margin-left: 7px">Doanh thu</p>
          <p
            style="
              margin-left: 10px;
              color: rgb(19, 149, 149);
              font-weight: bold;
            "
          >
            <% let totalAllProductProfit = 0; productList.forEach(product => {
            totalAllProductProfit += product.totalProductProfit; }); %> <%=
            totalAllProductProfit.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div
        style="
          width: auto;
          background-color: rgb(207, 210, 210);
          float: left;
          margin-right: 10px;
          padding: 10px;
        "
      >
        <img
          src="/images//checklist.png"
          style="width: 50px; margin-top: 20px; float: left"
        />
        <div style="float: left; height: 50px; position: relative; top: 22px">
          <p style="margin-left: 7px">Số đơn đã bán</p>
          <p
            style="
              margin-left: 10px;
              color: rgb(19, 149, 149);
              font-weight: bold;
            "
          >
            <%= totalQuantityAllProducts.toLocaleString() %>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div
        style="
          width: auto;
          background-color: rgb(207, 210, 210);
          float: left;
          margin-right: 10px;
          padding: 10px;
        "
      >
        <img
          src="/images//product.png"
          style="width: 50px; margin-top: 20px; float: left"
        />
        <div style="float: left; height: 50px; position: relative; top: 22px">
          <p style="margin-left: 7px">Số sản phầm còn lại</p>
          <p
            style="
              margin-left: 10px;
              color: rgb(19, 149, 149);
              font-weight: bold;
            "
          >
          <% let tcl = 0 %>
          <% if (pro.length> 0) { %> <%
              pro.reverse().forEach((data)=>{%>
                  
                      <% let totalQuantity = 0; %>
                      <!-- Khởi tạo biến totalQuantity -->
                      <% data.sizes.forEach(function(size) { %> <% totalQuantity +=
                      size.quantity; %>
                      <!-- Tính tổng số lượng -->
                      <% }); %>
                      <% totalQuantity.toLocaleString() %>
                      <!-- Hiển thị tổng số lượng -->
                      <% tcl +=  totalQuantity %>
                  
                  <%} ) %>
                  <%=  tcl.toLocaleString() %>
                   <% } else { %>
                      <p style="font-size: 18px">Không tìm thấy sản phẩm phù hợp.</p>
                      <% } %>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div
        style="
          width: auto;
          background-color: rgb(207, 210, 210);
          float: left;
          margin-right: 10px;
          padding: 10px;
          border: none;"
      >
        <img
          src="/images//top.png"
          style="width: 50px; margin-top: 20px; float: left"
        />
        <a href="http://192.168.11.126:3000/bill/listBillTK">
          <div style="float: left; height: 50px; position: relative; top: 22px">
            <p style="margin-left: 7px;">Sản phầm bán chạy</p>
            <p
              style="
                margin-left: 7px;
                color: rgb(19, 149, 149);
                font-weight: bold;
              "
            >
              Top 10
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- thong kê theo sản phẩm -->
  <table id="myTable" class="table table-responsive-xl">
    <thead class="thead-dark">
      <th style="text-align: center">Tên sản phẩm</th>
      <th style="text-align: center">Số lượng kho</th>
      <th style="text-align: center">Số lượng đã bán</th>
      <th style="text-align: center">Giá nhập</th>
      <th style="text-align: center">Giá bán</th>
      <th style="text-align: center">Tổng tiền nhập hàng</th>
      <th style="text-align: center">Doanh thu</th>
      <th style="text-align: center">Số tiền hồi vốn</th>
      <!-- <th style="text-align: center">Số tiền lãi / hoàn vốn</th> -->
      <th></th>
    </thead>
    <tbody>
      <% productList.forEach(product => { %>
      <tr>
        <td style="width: 330px"><%= product.productName %></td>
        <td style="text-align: center"><%= product.totalSizeQuantity %></td>
        <td style="text-align: center">
          <%= product.totalQuantity.toLocaleString() %>
        </td>
        <% if (product.gianhap !== undefined) { %>
        <td style="text-align: center">
          <%= product.gianhap.toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td>
        <% } else { %>
        <td>N/A</td>
        <% } %> <% if (product.price !== undefined) { %>
        <td style="text-align: center">
          <%= product.price.toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td>
        <% } else { %>
        <td>N/A</td>
        <% } %>
        <td style="text-align: center">
          <%= (product.totalSizeQuantity *
          product.gianhap + product.totalQuantity*product.gianhap).toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td>
        <td style="text-align: center">
          <%= (product.totalQuantity * product.price).toLocaleString('vi-VN', {
          style: 'currency', currency: 'VND' }) %>
        </td>
        <td style="text-align: center">
          <%= ((product.price * product.totalQuantity) - (product.totalSizeQuantity
          * product.gianhap + product.totalQuantity*product.gianhap)).toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td>
        <!-- <td style="text-align: center">
          <%= ((product.gianhap * product.totalSizeQuantity) - (product.price *
          product.totalQuantity)).toLocaleString('vi-VN', { style: 'currency',
          currency: 'VND' }) %>
        </td> -->
        <td></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <!-- <ul>
        <% productList.forEach(product => { %>
            <li>Số lượng kho: <%= product.totalSizeQuantity %> 
            - Số lượng bán: <%= product.totalQuantity %>
            - Name: <%= product.productName %>
            - Price: <%= product.price %>
            - Giá nhập: <%= product.gianhap %>
            - Tiền bán được: <%= product.price * product.totalQuantity %>
            - Tiền nhập hàng: <%= product.totalSizeQuantity * product.gianhap %>
            - Doanh thu: <%= (product.price * product.totalQuantity) - (product.totalQuantity * product.gianhap) %>
             </li>
        <% }); %>
    </ul> -->

  <style>
    .menu-link:visited {
      color: red;
    }
    .centered-div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <style>
    .container_swap {
      width: 400px;
    }

    .div_left {
      width: 200px;

      float: left;

      text-align: center;
    }

    .div_right {
      width: 200px;

      float: left;

      text-align: center;
    }
  </style>
</div>

<%- include('../inc/bottom') %>
